<h3>Submitted Forms (<a ng-click="getForms();" class="pointer" style="text-decoration: underline;">Refresh</a>)</h3>
<br/>

<div class="text-center" ng-if="isLoading === true"> 
    <img src="/assets/content/images/loading.gif" alt="Loading..." />
</div>

<table class="table" ng-if="isLoading === false">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Submission Date</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="form in forms">
            <td ng-bind="form.Id"></td>
            <td ng-bind="form.Person.FirstName + ' ' + form.Person.LastName"></td>
            <td ng-bind="form.CreateDate"></td>
            <td><i class="fa fa-pencil-square-o pointer" aria-hidden="true" title="Edit this form" ng-click="edit(form);"></i></td>
            <td><i class="fa fa-trash pointer" aria-hidden="true" title="Delete this form" ng-click="delete(form);"></i></td>
        </tr>
    </tbody>
</table>