<h3>Submitted Forms (<a ng-click="getForms();" class="pointer" style="text-decoration: underline;">Refresh</a>)</h3>
<br/>

<div class="text-center" ng-if="isLoading === true"> 
    <img src="/assets/content/images/loading.gif" alt="Loading..." />
</div>

<table class="table" ng-if="isLoading === false">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Submission Date</th>
        </tr>
    </thead>
    <tbody>
    <tr ng-repeat="form in forms">
        <td ng-bind="form.Id"></td>
        <td ng-bind="form.Person.FirstName + ' ' + form.Person.LastName"></td>
        <td ng-bind="form.CreateDate"></td>
    </tr>
    </tbody>
</table>