<div>

    <h3>Address</h3>
    <hr />

    <form name="userForm" ng-submit="submit(userForm.$valid)" novalidate>


        <div class="form-group" ng-class="{ 'has-danger' : userForm.street.$invalid}">
            <label>Street</label>
            <input type="text" class="form-control" placeholder="Street" name="street" 
                   ng-class="{'is-invalid': userForm.street.$invalid && (userForm.street.$touched || submitted)}"
                   ng-model="form.Address.Street" required>
            <p class="form-text text-danger" ng-show="userForm.street.$invalid && (userForm.street.$touched || submitted)">
                Valid Street Required
            </p>
        </div>
        <div class="form-group" ng-class="{ 'has-danger' : userForm.city.$invalid}">
            <label>City</label>
            <input type="text" class="form-control" placeholder="city" name="city" 
                   ng-class="{'is-invalid': userForm.city.$invalid && (userForm.city.$touched || submitted)}"
                   ng-model="form.Address.City" required>
            <p class="form-text text-danger" ng-show="userForm.city.$invalid && (userForm.city.$touched || submitted)">
                Valid City Required
            </p>
        </div>
        <div class="form-group">
            <label>State</label>
            <select ng-model="form.Address.State"
                    ng-options="state.abbreviation for state in states"
                    ng-init="form.Address.State = form.Address.State || states[0].abbreviation"
                    class="form-control"></select>
        </div>
        <div class="form-group">
            <label>Zip Code</label>
            <input type="text" class="form-control" placeholder="zip code" ng-model="form.Address.Zip" maxlength="5">
        </div>

        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-secondary" ng-click="back();">Back</button>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary">Next</button>
            </div>
        </div>
    
    </form>

</div>