<div>
    <h3>Education</h3>
    <hr />

    <div class="form-group">
        <label>High School</label>
        <input type="text" class="form-control" placeholder="high school" ng-model="form.Education.HighSchool">
    </div>
    <div class="form-group">
        <label>College</label>
        <input type="text" class="form-control" placeholder="college" ng-model="form.Education.College">
    </div>
    <div class="form-group">
        <label>Degree</label>
        <input type="text" class="form-control" placeholder="degree" ng-model="form.Education.Degree">
    </div>

    <!--<div ui-view="navButtons"></div>-->
    
    <div class="row" ng-if="isProcessing === false">
        <div class="col" ng-if="isStart === false">
            <button type="button" class="btn btn-secondary" ng-click="back();">Back</button>
        </div>
        <div class="col" ng-if="isFormValid === true">
            <button type="button" class="btn btn-primary" ng-click="submit();">Next</button>
        </div>
    </div>
    
    <div class="text-center" ng-if="isProcessing === true"> 
        <img src="/assets/content/images/loading.gif" alt="Loading..." />
    </div>

</div>