a.navbar-brand {
    color: white !important;
}


.pointer {
    cursor: pointer;
}

.required label {
    font-weight: bold;
}

.required label:after {
    color: #e32;
    content: ' *';
    display: inline;
}