USE [master]
GO
/****** Object:  Database [AngularDB]    Script Date: 4/22/2018 7:18:00 PM ******/
CREATE DATABASE [AngularDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AngularDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\AngularDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AngularDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\AngularDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AngularDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AngularDB]
GO
USE [AngularDB]
GO
/****** Object:  User [AngularUser]    Script Date: 4/22/2018 7:18:00 PM ******/
CREATE USER [AngularUser] FOR LOGIN [AngularUser] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [AngularUser]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [AngularUser]
GO
/****** Object:  Table [dbo].[ApplicationForm]    Script Date: 4/22/2018 7:18:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationForm](
	[Id] [uniqueidentifier] NOT NULL,
	[FormBody] [varchar](max) NOT NULL,
 CONSTRAINT [PK_ApplicationForm] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
